.date-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
  
  .date {
    width: 100px;
    text-align: center;
  }
  
  .selected {
    background-color: #333;
    color: white;
  }