<div class="form-container">
    <div class="form-selection">
        <mat-radio-group [(ngModel)]="selectedForm" name="formType">
            <mat-radio-button value="solo-ida">Solo Ida</mat-radio-button>
            <mat-radio-button value="ida-vuelta">Ida y Vuelta</mat-radio-button>
        </mat-radio-group>
    </div>


    <!-- Mostrar mensaje de error si el formulario es inválido -->

    <form [formGroup]="flightForm" class="flight-form">
        <h2>¿Cuál es tu próximo viaje?</h2>

        <div class="input-container">
            <mat-form-field appearance="fill" floatLabel="always">
                <input
                        type="text"
                        matInput
                        placeholder="Origen"
                        formControlName="origen"
                        [matAutocomplete]="auto"
                        (input)="filterCiudades($event, false)">
            </mat-form-field>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let ciudad of filteredCiudadesOrigen; let i = index"
                            [value]="ciudad.nombreCiudad"
                            (click)="seleccionarCiudad(ciudad, 'origen')">
                    <span>
                        {{ ciudad.nombreCiudad }} ({{ ciudad.codigoCiudad }})
                    </span>
                    <small class="aeropuerto">{{ ciudad.nombreAeropuerto }}</small>
                </mat-option>
            </mat-autocomplete>
        </div>

        <div class="input-container">
            <mat-form-field>
                <input
                        type="text"
                        matInput
                        placeholder="Destino"
                        formControlName="destino"
                        [matAutocomplete]="auto"
                        (input)="filterCiudades($event, false)">
            </mat-form-field>
            <mat-autocomplete #auto="matAutocomplete">
            </mat-autocomplete>
        </div>

        <mat-form-field>
            <input matInput
                   [matDatepicker]="picker"
                   placeholder="Fecha de Salida"
                   name="fechaSalida"
                   formControlName="fechaSalida"
                   [min]="minDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div *ngIf="selectedForm === 'ida-vuelta'">
            <mat-form-field>
                <input matInput
                       [matDatepicker]="pickerRegreso"
                       placeholder="Fecha de Regreso"
                       name="fechaRegreso"
                       formControlName="fechaRegreso"
                       [min]="minDate">
                <mat-datepicker-toggle matSuffix [for]="pickerRegreso"></mat-datepicker-toggle>
                <mat-datepicker #pickerRegreso></mat-datepicker>
            </mat-form-field>
        </div>

        <mat-form-field>
            <mat-label>Número de Pasajeros:</mat-label>
            <input matInput
                   type="number"
                   name="numPasajeros"
                   formControlName="numPasajeros">
        </mat-form-field>

        <button class="search-button" [disabled]="flightForm.invalid" (click)="buscarVuelo()">Buscar</button>
        <div class="error-message" *ngIf="showError && flightForm.invalid">
            Por favor, completa todos los campos requeridos.
        </div>
    </form>

</div>
