//colores verde claro (#99ea5d), verde obscuro (#22c126) de los svg
/* For use in src/lib/core/theming/_palette.scss */
$md-test1: (
    50 : #edf5ea,
    100 : #d2e5ca,
    200 : #b5d4a7,
    300 : #97c284,
    400 : #80b569,
    500 : #6aa84f,
    600 : #62a048,
    700 : #57973f,
    800 : #4d8d36,
    900 : #3c7d26,
    A100 : #cdffbe,
    A200 : #a6ff8b,
    A400 : #7fff58,
    A700 : #6cff3f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-test2: (
    50 : #fdfefe,
    100 : #fbfdfd,
    200 : #f9fcfc,
    300 : #f6fbfa,
    400 : #f4faf9,
    500 : #f2f9f8,
    600 : #f0f8f7,
    700 : #eef7f6,
    800 : #ecf6f5,
    900 : #e8f5f3,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-test3: (
    50 : #e0e1e1,
    100 : #b3b5b4,
    200 : #808383,
    300 : #4d5151,
    400 : #262c2b,
    500 : #000706,
    600 : #000605,
    700 : #000504,
    800 : #000403,
    900 : #000202,
    A100 : #a6a6a6,
    A200 : #8c8c8c,
    A400 : #737373,
    A700 : #666666,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);



html, 

  body { height: 100%; }
  body { 
    margin: 0; 
    font-family: 'REM', sans-serif; }
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 40px;
    color: #333;
    box-sizing: border-box;
    //-webkit-font-smoothing: antialiased;
    //-moz-osx-font-smoothing: grayscale;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }
  @import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Preahvihear&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Preahvihear&family=REM:wght@100&display=swap');
  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }



  .toolbar img {
    margin: 0 16px;
  }

  /*.toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }*/

  .content {
    display: flex;
    margin: 32px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }
  .ilusD {
    display: flex;
    margin: 0 auto 100px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    font-family: 'REM', sans-serif;
    font-weight: bold; /* Peso de la fuente */
  }
  .ilusD h1{
    font-size: 35px;
    //font-weight: bold;  Peso de la fuente 
    font-family: 'Preahvihear', sans-serif;

  }
  .ilusI {
    display: flex;
    margin: 20px auto 20px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: right;
    font-family: 'REM', sans-serif;
    font-weight: bold;  //Peso de la fuente 
  }
  /*svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }*/

  .card-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
  }
  //botones menu 
  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    height: 40px;
    width: auto;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }
  /*
  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }*/
  //estilo boton
  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }
  //estilo de despliegue al seleccionar boton
  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }
/*
  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }*/
/*
  .card.highlight-card {
    background-color: #19d266;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }
  
  .card.card.highlight-card span {
    margin-left: 60px;
  }
  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }*/

  a,
  a:visited,
  a:hover {
    color: #0b8d41;
    text-decoration: none;
  }

  a:hover {
    color: #19d266;
  }

  /*
  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }*/
//pie de pg
  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }
  .fondoDV {    
    background-size: 1450px;
    background-repeat: no-repeat;
    background-image: url('/assets/img/Recurso3.svg');
    background-position: bottom;
  }
  .fondoDVA {    
    background-size: 1350px;
    background-repeat: no-repeat;
    background-image: url('/assets/img/Recurso4.svg');
  }
  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
  .title-style {
  font-family: 'Lilita One', cursiva;
  font-size: 50px; /* Tamaño del título */
  font-weight: bold; /* Peso de la fuente */
  color: #333; /* Color del texto */
  }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
