<div>
  <h1>Detalles del Carrito</h1>
  <table>
    <thead>
      <tr>
        <th>Boleto</th>
        <th>Cantidad</th>
        <th>Precio Unitario</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item.boleto }}</td>
        <td>{{ item.cantidad }}</td>
        <td>{{ item.precio | currency }}</td>
        <td>{{ item.total | currency }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3" class="text-right">Total General:</td>
        <td>{{ calcularTotalGeneral() | currency }}</td>
      </tr>
    </tfoot>
  </table>
  <button (click)="vaciarCarrito()">Vaciar Carrito</button>
</div>
<ng-template #emptyCart>
  <p>El carrito está vacío.</p>
</ng-template>
