<div class="form-container">
  <h2>Editar Vuelo</h2>

  <div class="form-selection">
    <mat-radio-group [(ngModel)]="selectedForm" name="formType" color="primary">
      <mat-radio-button value="solo-ida">Solo Ida</mat-radio-button>
      <mat-radio-button value="ida-vuelta">Ida y Vuelta</mat-radio-button>
    </mat-radio-group>
  </div>

  <form [formGroup]="form" class="horizontal-form">

<!-- Edicion de Filtrado Origen -->
    <mat-form-field appearance="outline" floatLabel="always" class="form-field">
      <input 
        type="text"
        matInput 
        placeholder="Origen"
        formControlName="origen"
        [matAutocomplete]="auto"
        (input)="filterCiudades($event, false)">
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let ciudad of filteredCiudades; let i = index"
                  [value]="ciudad.nombreCiudad"
                  (click)="filterCiudades(ciudad, false)">
        <span >
          {{ ciudad.nombreCiudad }} ({{ ciudad.codigoCiudad }})
        </span>
        <small class="aeropuerto">{{ ciudad.nombreAeropuerto }}</small>
      </mat-option>
    </mat-autocomplete>
  
<!-- Edicion de Filtrado Destino-->
  
<mat-form-field appearance="outline" floatLabel="always" class="form-field">
  <input 
    type="text"
    matInput 
    placeholder="Destino"
    formControlName="destino"
    [matAutocomplete]="auto"
    (input)="filterCiudades($event, true)">
</mat-form-field>
<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let ciudad of filteredCiudades; let i = index"
              [value]="ciudad.nombreCiudad"
              (click)="filterCiudades(ciudad, true)">
    <span >
      {{ ciudad.nombreCiudad }} ({{ ciudad.codigoCiudad }})
    </span>
    <small class="aeropuerto">{{ ciudad.nombreAeropuerto }}</small>
  </mat-option>
</mat-autocomplete>
  

    

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Fecha de Salida</mat-label>
      <input matInput formControlName="fechaSalida" [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Pasajeros</mat-label>
      <input matInput formControlName="numPasajeros" />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="form.invalid"
      (click)="guardarCambiosYBuscarVuelos()"
    >
      Guardar Cambios
    </button>
  </form>
</div>




<!-- Mostramos vuelos -->
<div class="vuelos-container">
  <div class="vuelo-item" *ngFor="let vuelo of vuelos">
    <div class="info">
      <div class="fecha-hora">{{ vuelo.fechaSalida | date : "hh:mm a" }}</div>

      <div class="origen">origen {{ vuelo.origen }}</div>
      <div class="destino">destino {{ vuelo.destino }}</div>
    </div>
  </div>
  <div class="no-vuelos-message" *ngIf="vuelos.length === 0">
    <mat-card>
      <mat-card-content>No hay vuelos disponibles.</mat-card-content>
    </mat-card>
  </div>
</div>
