<div class="toolbar" role="banner">
    <div class="nav-container">
        <a class="nav" [routerLink]="'/home'" [routerLinkActive]="'active'">
            <img src="/assets/logos/logo-vola2sss.svg" alt="logo-vola2sss"/>
        </a>
        <a class="nav" [routerLink]="'/vuelos'" [routerLinkActive]="'active'">
            <span>VUELOS</span>
        </a>
        <a class="nav" [routerLink]="'/personalizacion'" [routerLinkActive]="'active'">
            <span>PERSONALIZACION</span>
        </a>
        <a class="nav" [routerLink]="'/ofertas'" [routerLinkActive]="'active'">
            <span>OFERTAS</span>
        </a>
        <a class="nav" [routerLink]="'/pasajeros'" [routerLinkActive]="'active'">
            <span>PASAJEROS</span>
        </a>
        <a class="nav" [routerLink]="'/carrito'" [routerLinkActive]="'active'">
            <span>CARRITO</span>
        </a>
    </div>
</div>
