h1 {
    text-align: center;
    padding: 50px 0;
    font-size: 50px;
}

p {
    text-align: left;
    padding: 0 100px;
    font-size: 1.2em;
}

.container-personalizacion {
    margin: 50px 150px;

    .personalizacion-card {
        height: 500px;
        margin: 50px;
    }
}
