<h1> Personaliza tu vuelo!</h1>
<p>¡Bienvenido a nuestra página de selección de asientos de vuelo! Aquí podrás personalizar tu experiencia de viaje
    eligiendo los asientos que mejor se adapten a tus preferencias. Explora un plano detallado de la cabina y selecciona
    entre una variedad de opciones, como ventanas panorámicas para disfrutar de las vistas, pasillos para una mayor
    comodidad o asientos cerca de salidas de emergencia para un acceso rápido.</p>

<section class="container-personalizacion">
    <mat-tab-group>
        <div class="personalizacion-card" *ngIf="datosBusqueda.soloIda">
            <mat-tab label="Ida" class="tab-vuelo">
                <div class="tab-vuelo">
                    <app-avion></app-avion>
                    <app-card-resumen-vuelo></app-card-resumen-vuelo>
                </div>
            </mat-tab>
        </div>
        <div class="personalizacion-card" *ngIf="!datosBusqueda.soloIda">
            <mat-tab label="Ida">
                <app-avion></app-avion>
            </mat-tab>
            <mat-tab label="Vuelta" class="tab-vuelo">
                <div class="tab-vuelo">
                    <app-avion></app-avion>
                    <app-card-resumen-vuelo></app-card-resumen-vuelo>
                </div>
            </mat-tab>
        </div>
    </mat-tab-group>
</section>



