<div class="form-container">
  <div class="form-selection">

    <mat-radio-group [(ngModel)]="selectedForm" name="formType" >
      <mat-radio-button value="solo-ida">Solo Ida</mat-radio-button>
      <mat-radio-button value="ida-vuelta">Ida y Vuelta</mat-radio-button>
    </mat-radio-group>
  </div>

  
  <!-- Mostrar mensaje de error si el formulario es inválido -->
  
  <form [formGroup]="flightForm" class="flight-form" *ngIf="selectedForm === 'solo-ida' || !selectedForm" autocomplete="off">
  <h2>¿Cuál es tu próximo viaje?</h2>
  
  <!-- formulario-bv.component.html -->

<!-- <div class="input-container">
  <label>Origen:</label>
  <div class="input-with-list">
    <input type="text" name="origen" formControlName="origen" (input)="filterCiudades($event, false)" (keydown)="selectSuggestionByArrow($event, 'origen')" (keypress)="selectSuggestionByEnter($event, 'origen')">
    <div class="ciudades-list" *ngIf="filteredCiudadesOrigen.length > 0">
      <div *ngFor="let ciudad of filteredCiudadesOrigen; let i = index" class="ciudad-item" (click)="seleccionarCiudad(ciudad, 'origen')" [class.selected]="i === selectedSuggestionIndex">
        <span [style.color]="i === selectedSuggestionIndex ? 'green' : 'inherit'">
          {{ ciudad.nombreCiudad }} ({{ ciudad.codigoCiudad }})
        </span>
        <small class="aeropuerto">{{ ciudad.nombreAeropuerto }}</small>
      </div>
    </div>
  </div>
</div> -->

<div class="input-container">
  <mat-form-field>
    <input 
      type="text"
      matInput 
      placeholder="Origen"
      formControlName="origen"
      [matAutocomplete]="auto"
      (input)="filterCiudades($event, false)"
      (keydown)="selectSuggestionByArrow($event, 'origen')"
      (keypress)="selectSuggestionByEnter($event, 'origen')">
  </mat-form-field>

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let ciudad of filteredCiudadesOrigen; let i = index"
                [value]="ciudad.nombreCiudad"
                (click)="seleccionarCiudad(ciudad, 'origen')"
                [class.selected]="i === selectedSuggestionIndex">
      <span [style.color]="i === selectedSuggestionIndex ? 'green' : 'inherit'">
        {{ ciudad.nombreCiudad }} ({{ ciudad.codigoCiudad }})
      </span>
      <small class="aeropuerto">{{ ciudad.nombreAeropuerto }}</small>
    </mat-option>
  </mat-autocomplete>
</div>


<!-- <div class="input-container">
  <label>Destino:</label>
  <div class="input-with-list">
    <input type="text" name="destino" formControlName="destino" (input)="filterCiudades($event, true)" (keydown)="selectSuggestionByArrow($event, 'destino')"(keypress)="selectSuggestionByEnter($event, 'destino')">
    <div class="ciudades-list" *ngIf="filteredCiudadesDestino.length > 0">
      <div *ngFor="let ciudad of filteredCiudadesDestino; let i = index" class="ciudad-item" (click)="seleccionarCiudad(ciudad, 'destino')" [class.selected]="i === selectedSuggestionIndex">
        <span [style.color]="i === selectedSuggestionIndex ? 'green' : 'inherit'" [innerHTML]="highlightText(ciudad.nombreCiudad, this.flightForm.value.destino)">
          {{ ciudad.nombreCiudad }} ({{ ciudad.codigoCiudad }})
        </span>
        <small class="aeropuerto">{{ ciudad.nombreAeropuerto }}</small>
      </div>
    </div>
  </div>
</div> -->

<div class="input-container">
  <mat-form-field>
    <input 
      type="text"
      matInput 
      placeholder="Destino"
      formControlName="destino"
      [matAutocomplete]="auto"
      (input)="filterCiudades($event, false)"
      (keydown)="selectSuggestionByArrow($event, 'destino')"
      (keypress)="selectSuggestionByEnter($event, 'destino')">
  </mat-form-field>

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let ciudad of filteredCiudadesDestino; let i = index"
                [value]="ciudad.nombreCiudad"
                (click)="seleccionarCiudad(ciudad, 'destino')"
                [class.selected]="i === selectedSuggestionIndex">
      <span [style.color]="i === selectedSuggestionIndex ? 'green' : 'inherit'">
        {{ ciudad.nombreCiudad }} ({{ ciudad.codigoCiudad }})
      </span>
      <small class="aeropuerto">{{ ciudad.nombreAeropuerto }}</small>
    </mat-option>
  </mat-autocomplete>
</div>

  
<mat-form-field>
  <input matInput 
         [matDatepicker]="picker" 
         placeholder="Fecha de Salida" 
         name="fechaSalida" 
         formControlName="fechaSalida" 
         [min]="minDate">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<!--
  

<label>Fecha de Salida:</label>
<mat-form-field>
  <input matInput [matDatepicker]="picker" name="fechaSalida" formControlName="fechaSalida">
  <mat-hint>DD/MM/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
-->
<mat-form-field>
  <mat-label>Número de Pasajeros:</mat-label>
  <input matInput 
         type="number" 
         name="numPasajeros" 
         formControlName="numPasajeros">
</mat-form-field>

  <!-- <button class="search-button" [disabled]="flightForm.invalid" (click)="buscarVuelo()">Buscar</button> -->
  <button class="search-button" [disabled]="flightForm.invalid" (click)="buscarVuelo()">Buscar</button>

  
  <div class="error-message" *ngIf="showError && flightForm.invalid">
      Por favor, completa todos los campos requeridos.
    </div>
  </form>

  <form [formGroup]="flightForm" class="flight-form" *ngIf="selectedForm === 'ida-vuelta'">
  <h2>¿Cuál es tu próximo viaje?</h2>

  <!-- formulario-bv.component.html -->

<div class="input-container">
  <label>Origen:</label>
  <div class="input-with-list">
    <input type="text" name="origen" formControlName="origen" (input)="filterCiudades($event, false)">
    <div class="ciudades-list" *ngIf="filteredCiudadesOrigen.length > 0">
      <div *ngFor="let ciudad of filteredCiudadesOrigen" class="ciudad-item" (click)="seleccionarCiudad(ciudad, 'origen')">
        <span [style.color]="ciudad.highlightedNombre ? 'green' : 'inherit'">
          {{ ciudad.nombreCiudad }} ({{ ciudad.codigoCiudad }})
        </span>        
        <small class="aeropuerto">{{ ciudad.nombreAeropuerto }}</small>
      </div>
    </div>
  </div>
</div>

<div class="input-container">
  <label>Destino:</label>
  <div class="input-with-list">
    <input type="text" name="destino" formControlName="destino" (input)="filterCiudades($event, true)">
    <div class="ciudades-list" *ngIf="filteredCiudadesDestino.length > 0">
      <div *ngFor="let ciudad of filteredCiudadesDestino" class="ciudad-item" (click)="seleccionarCiudad(ciudad, 'destino')">
        <span [style.color]="ciudad.highlightedNombre==true? 'green' : 'inherit'">
          {{ ciudad.nombreCiudad }} ({{ ciudad.codigoCiudad }})
        </span>        
        <small class="aeropuerto">{{ ciudad.nombreAeropuerto }}</small>
      </div>
    </div>
  </div>
</div>

<label>Fecha de Salida:</label>
  <input type="date" name="fechaSalida" formControlName="fechaSalida" min="{{ minDate }}"/>

  <label>Fecha de Regreso:</label>
  <input type="date" name="fechaRegreso" formControlName="fechaRegreso" min="{{ minDate }}"/>
  <!--
  

<mat-form-field>
  <mat-label>Fecha de Salida:</mat-label>
  <input matInput [matDatepicker]="picker" name="fechaSalida" formControlName="fechaSalida">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <mat-label>Fecha de Regreso:</mat-label>
  <input matInput [matDatepicker]="picker2" name="fechaRegreso" formControlName="fechaRegreso">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>
-->
<mat-form-field>
  <mat-label>Número de Pasajeros:</mat-label>
  <input matInput 
         type="number" 
         name="numPasajeros" 
         formControlName="numPasajeros">
</mat-form-field>

  <button class="search-button" [disabled]="flightForm.invalid" (click)="buscarVuelo()">Buscar</button>
  <div class="error-message" *ngIf="showError && flightForm.invalid">
      Por favor, completa todos los campos requeridos.
    </div>
  </form>
</div>