<h1>Detalles del Carrito</h1>

<ng-container *ngIf="items.length > 0; else emptyCart">
  <table mat-table [dataSource]="items" class="mat-elevation-z8">

    <ng-container matColumnDef="boleto">
      <th mat-header-cell *matHeaderCellDef>Boleto</th>
      <td mat-cell *matCellDef="let item">{{ item.boleto }}</td>
    </ng-container>

    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef>Cantidad</th>
      <td mat-cell *matCellDef="let item">{{ item.cantidad }}</td>
    </ng-container>

    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef>Precio Unitario</th>
      <td mat-cell *matCellDef="let item">{{ item.precio | currency }}</td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let item">{{ item.total | currency }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['boleto', 'cantidad', 'precio', 'total']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['boleto', 'cantidad', 'precio', 'total']"></tr>
  </table>

  <div class="total">
    <p>Total General: {{ calcularTotalGeneral() | currency }}</p>
  </div>
  <button mat-raised-button color="primary" (click)="vaciarCarrito()">Vaciar Carrito</button>
</ng-container>

<ng-template #emptyCart>
  <p>El carrito está vacío.</p>
</ng-template>
