h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid #19d266;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

button {
    background-color: #19d266;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    &:hover {
        background-color: #179c4e;
    }
}

.carrito-container{
    margin: 50px 200px;
}

.container-buttons{
    display: flex;
    justify-content: space-between;
}

p {
    font-size: xx-large;
    color: #6fd437;
    display: flex;
    flex-direction: row-reverse;
    margin: 35px
}

