.tab-container {
     // Color de fondo gris
    max-width: 800px; // Ancho máximo del contenedor
    margin: 0 auto; // Centrar el contenedor
    padding: 20px; // Espaciado interno
    border-radius: 8px; // Esquinas redondeadas
  }
  