/* asiento.component.css */
.asiento {
    width: 40px;
    height: 56px;
    border: 1px solid #ccc;
    margin: 11px 0;
    cursor: pointer;
    background-color: rgba(255, 135, 0, 0.3);
}

.asiento-ocupado {
    background-color: red;
}

.asiento-seleccionado {
    background-color: green;
}
