<div class="header">
    <div class="title">
        <h1 class="title-style">{{titulo}}</h1>
        <p>Disfruta de esta gran experiencia</p>
    </div>
    <img class="clouds" alt="clouds" src="/assets/header/clouds.svg"/>
    <div class="container">
        <img class="planet" width="500" alt="Vola2" src="/assets/header/planet.svg"/>
        <div class="form">
            <app-formulario-bv></app-formulario-bv>
        </div>
    </div>
    <img class="waves" alt="waves" src="/assets/header/waves.svg"/>
</div>
