h1 {
    text-align: center;
    padding: 50px 0;
    font-size: 50px;
}

p {
    text-align: left;
    padding: 0 100px;
    font-size: 1.2em;
}

.green-rectangle {
    background-color: #99ea5d;
    padding: 100px;
    margin: 70px 0;
    display: flex;
    justify-content: space-around;
    background-repeat: no-repeat;
    background-image: url(/assets/svgs/wave.svg);
    background-position: bottom;

    .circle-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;

        img {
            border: 30px solid #fff;
            border-radius: 50%;
            object-fit: cover; /* Ajusta la propiedad para recortar la imagen */
            margin-bottom: 10px;
        }

        h3 {
            font-size: 1.5em;
            font-weight: 600;
            margin-bottom: 10px;
        }

        p {
            font-size: 1.2em;
            text-align: center;
        }

    }
}

.gallery {
    width: 100%;
    display: grid;
    justify-items: center;

    .carousel {
        width: 70%;
        margin: 70px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 3.5);

        p {
            text-align: center;
            font-size: 1.2em;
        }
    }
}

.map {
    .map-container {
        margin: 80px 0 0 0;
        height: 500px;
        overflow: hidden;
        display: grid;
        align-content: center;

        img {
            object-fit: cover;
        }
    }
}


