<app-header></app-header>


<section class="destinos">
    <h1>Destinos</h1>
    <p>¡Descubre destinos increíbles y vive aventuras únicas en tus próximas vacaciones! Explora playas paradisíacas,
        sumérgete en la cultura local y disfruta de experiencias inolvidables en cada rincón del mundo. Ya sea que
        busques
        relajarte o vivir emocionantes aventuras, nuestros destinos te esperan con los brazos abiertos. ¡Empieza a
        planificar tu próxima escapada ahora mismo!</p>
    <div class="green-rectangle">
        <div class="circle-image">
            <img ngSrc="assets/img/quito.webp" alt="quito" height="250" width="250">
            <h3>QUITO</h3>
            <p>La carita de Dios</p>
        </div>
        <div class="circle-image">
            <img ngSrc="assets/img/guayaquil.webp" alt="guayaquil" height="250" width="250">
            <h3>GUAYAQUIL</h3>
            <p>La perla del Pacífico</p>
        </div>
        <div class="circle-image">
            <img ngSrc="assets/img/cuenca.webp" alt="cuenca" height="250" width="250">
            <h3>CUENCA</h3>
            <p>La Atenas del Ecuador</p>
        </div>
    </div>
</section>

<section class="gallery">
    <h1>Galería</h1>
    <p>¡Explora la diversidad de Ecuador a través de nuestras imágenes seleccionadas de las cuatro fascinantes regiones
        del país. Sumérgete en los paisajes exuberantes, la rica cultura y la naturaleza única que caracteriza a cada
        región. Desde las playas del Pacífico hasta las alturas de los Andes y la misteriosa Amazonía, esta galería te
        llevará en un viaje visual a través de la variedad de Ecuador.</p>
    <c-carousel class="carousel">
        <c-carousel-indicators></c-carousel-indicators>
        <c-carousel-inner>
            <c-carousel-item *ngFor="let slide of slides">
                <img
                    alt="{{slide.title}}"
                    class="d-block w-100"
                    loading="lazy"
                    src="{{slide.src}}"
                />
                <c-carousel-caption class="d-none d-md-block">
                    <h3>{{slide.title}}</h3>
                    <p>{{slide.subtitle}}</p>
                </c-carousel-caption>
            </c-carousel-item>
        </c-carousel-inner>
        <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
        <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
    </c-carousel>
</section>
