

<div class="form-container" [ngClass]="{'form-vertical': orientacion === 'vertical', 'form-horizontal': orientacion === 'horizontal'}"  [formGroup]="form">
  <h2>Editar Vuelo</h2>
  <mat-radio-group formControlName="soloIda">
    <mat-radio-button [value]="true">Solo Ida</mat-radio-button>
    <mat-radio-button [value]="false">Ida y Vuelta</mat-radio-button>
  </mat-radio-group>
  <div class="container">
      <app-input-filtrado [control]="origenControl"></app-input-filtrado>
      <app-input-filtrado [control]="destinoControl"></app-input-filtrado>
      <app-opciones-fechas [control]="fechaSalidaControl"></app-opciones-fechas>
      <app-opciones-fechas *ngIf="form.get('soloIda')?.value === false" [control]="fechaVueltaControl"></app-opciones-fechas>
            <app-dropdown-contador-pasajeros class="form-field"
  [adultoControl]="adultoControl"
  [ninosControl]="ninosControl"
  [adultoMayorControl]="adultoMayorControl">
  
</app-dropdown-contador-pasajeros>
    
      <button
          mat-raised-button
          color="primary"
          type="submit"
          (click)="guardarCambiosYBuscarVuelos()" style="color: white"
      >
          Buscar
      </button>
  </div>

  <app-fechas-cercanas *ngIf="orientacion === 'horizontal'" [control]="fechaSalidaControl"></app-fechas-cercanas>




</div>
